.loginHeader{
    text-align: center;
    margin-top: 15%;
}
.centered{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.hidden{
    display: none;
}

#main {
    z-index: 0;
}

#toolDiv {
    z-index: 1;
}